:root {
    font-family: 'Lekton', sans-serif;
}

body {
    background-color: #e6e6e6;
    color: black;
    margin: 5vh 20vw;
}

#Navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: e6e6e6;
    border: 1px solid black;
    flex-wrap: wrap;
    overflow: hidden;
}
#Navbar img {
    height: 40px;
    width: 40px;
}

#Navbar li {
    display: inline;
    padding: 8px;
}
#Navbar li:hover {
    background-color: grey;
}
