body {
    font-family: 'Lekton', sans-serif;
    font-size: 32px;
    background-color: #ffffff;
    color: black;
    margin: 5vh 20vw;
}

img {
    max-width: 100%;
    height: auto;
}

.Paragraph {
    margin-bottom: 3rem;
}

ul {
    padding: 0%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    list-style: none;
}

li {
    margin-right: 1rem;
}